<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_area :username, id: :profile_username %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :profile_bio %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location, id: :profile_location %>
  </div>

  <div class="field">
    <%= form.label :image_data %>
    <%= form.text_area :image_data, id: :profile_image_data %>
  </div>



  <div class="field">
    <%= form.label :street_address %>
    <%= form.text_field :street_address, id: :profile_street_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :profile_city %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode, id: :profile_postcode %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :profile_state %>
  </div>

  <div class="field">
    <%= form.label :country_code %>
    <%= form.country_select :country_code, priority_countries: ["AU", "NZ"], prompt: "Select a Country" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
