<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Image data:</strong>
  <%= @profile.image_data %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @profile.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @profile.longitude %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @profile.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @profile.country_code %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
