<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Image data:</strong>
  <%= image_tag @profile.image_display(:medium) %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @profile.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @profile.longitude %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @profile.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @profile.country_code %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<% if policy(@profile).update? %>
              <%= link_to 'EDIT', edit_profile_path(@profile) %>
            <% end %> 
<%= link_to 'BACK', @profile_path %>

<%= link_to 'SWAP BEER', new_post_path(@post) %>
<%= link_to 'UPGRADE MEMBERSHIP', memberships_path %>


<td><%= link_to 'DESTROY', @profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>