<p id="notice"><%= notice %></p>

<h1>Drinks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Amount in ml</th>
      <th>Number of bottles available</th>
      <th>Beer type</th>
      <th>Main ingredient</th>
      <th>Postcode</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <tr>
        <td><%= drink.user %></td>
        <td><%= drink.amount_in_ml %></td>
        <td><%= drink.number_of_bottles_available %></td>
        <td><%= drink.beer_type %></td>
        <td><%= drink.main_ingredient %></td>
        <td><%= drink.postcode %></td>
        <td><%= drink.post %></td>
        <td><%= link_to 'Show', drink %></td>
        <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
        <td><%= link_to 'Destroy', drink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drink', new_drink_path %>
