<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @drink.user %>
</p>

<p>
  <strong>Amount in ml:</strong>
  <%= @drink.amount_in_ml %>
</p>

<p>
  <strong>Number of bottles available:</strong>
  <%= @drink.number_of_bottles_available %>
</p>

<p>
  <strong>Beer type:</strong>
  <%= @drink.beer_type %>
</p>

<p>
  <strong>Main ingredient:</strong>
  <%= @drink.main_ingredient %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @drink.postcode %>
</p>

<p>
  <strong>Post:</strong>
  <%= @drink.post %>
</p>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
