<header>
      <nav>
        <%= link_to_unless_current ' HOME   |  ', root_path %>
        <%unless user_signed_in? %>
          
          <%= link_to_unless_current ' REGISTER    |  ', new_user_registration_path %>
          <%= link_to_unless_current ' SIGN IN    |  ', new_user_session_path %> 
          <%# <a href=/users/sign_in>Sign In</a> %>


          <% else %>
      
    
        <%= link_to_unless_current ' SIGN OUT    |  ', destroy_user_session_path, method: :delete %>
             <%= current_user.email  %>

      <% end %>
      </nav>
    </header>