<h1>BREWSWAP</h1>


<%= link_to 'Swap Beer', new_post_path(@post) %>
<%= link_to 'Create Profile', new_profile_path(@profile) %>

<% if user_signed_in? %>
<%= link_to 'Update Profile', edit_profile_path(current_user.id) %>
<% end %>

<%= link_to 'View beers available', posts_path %>

<%= link_to 'Upgrade membership', memberships_path %>


<p>Find me in app/views/home/index.html.erb</p>
