<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :payment_amount %>
  </div>

  <div class="field">
    <%= form.label :membership_id %>
    <%= form.text_field :membership_id, id: :payment_membership_id %>
  </div>

  <%# <div class="field">
    <%= form.label :user_id %>
    <%# <%= form.text_field :user_id, id: :payment_user_id %> 
  <%# </div> %> %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
