<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :post_description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.hidden_field :image, value: @post.cached_image_data %>
    <%= form.file_field :image %>
  </div>
  
<%= form_for Drink.new do |form| %>
  <div class="field">
    <%= form.label "Add drink details:" %>
    <div id="drink_details">
      <%= render 'partials/drink_details', form: form %>
    </div>
</div>
<% end %>


  <%# <%= form_for @post do |post_form| %>
  <%# <%= post_form.fields_for :drink do |drink_fields| %> 
    <%# Amount in ml per bottle : <%= drink_fields.text_field :amount_in_ml %> 
    <%# Number of bottles available: <%= drink_fields.text_field :number_of_bottles_available %> 
    <%# Beer type: <%= drink_fields.text_field :beer_type %> 
    <%# Main ingredient: <%= drink_fields.text_field :main_ingredient %>
    <%# Postcode: <%= drink_fields.text_field :postcode %>
  <%# <% end %>
<%# <% end %> 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
