<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
<% unless @post.image_data.nil? %>
  <strong>Image:</strong>
  <%= image_tag @post.image_display(:medium) %>
<%end %>
</p>

    <div id="drink_post">
      <%= render 'partials/drink_post', { drink: @drink } %>
    </div>

<%# <p>
  <strong>Profile:</strong>
  <%= @post.profile %>
<%# </p> %>



  <% if policy(@post).update? %>
    <%= link_to 'EDIT', edit_post_path(@post) %> |
  <% end %>
<%= link_to 'BACK', posts_path %>

<td><%= link_to 'DESTROY', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>



